* {
    background-color: #b1ede8;
}

h1 {
    color: #6d435a;
}

h2 {
    color: #340068;
}

h3{
    color: #248232;
}

.parent {
    display: flex;
    gap: 5em;
    /* grid-template-columns: 1fr 1fr;
    column-gap: 1em; */
}

.teaching img {
    width: 20em;
    height: 15em;
}

.teaching figcaption {
    font-size: xx-large;
    font-weight: bold;
}

#mapBD {
    margin-left: 3cm;
}

#gradImg {
    vertical-align: middle;
}

#AvaRoli {
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.5cm;
}